.table {
    width: 100%;
    text-align: start;
    border-collapse: collapse;
    margin: 10px 0 20px;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #dee2e6;
}

.table th {
    text-align: start;
}

.table tr {
    padding: 160px;
}

.col1,
.col4 {
    width: 160px;
}

.col3 {
    width: 130px;
}

.col2 {
    width: auto;
    text-align: start;
}

.table thead,
.contributionRow {
    background-color: #fff;
}

.contributionRow:nth-child(odd) {
    background-color: #f2f2f2;
}

.name {
    vertical-align: top;
    font-weight: 600;
    font-size: 16px;
}

.description {
    font-size: 14px;
    color: #3b3e42;
    margin-bottom: 12px;
}

.center {
    width: auto;
    text-align: center;
}